body {
    background-color: black;
}
h1 {
    color: crimson;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
p {
    color: aquamarine;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#ksp {
    position: absolute;
    left: 400px;
    top: 400px;
}

#log {
    color: whitesmoke;
}